
.eventrow{
  border:solid 1px rgba(100,100,100,1);
  border-radius: 2px;
  min-height:0px;
 /*box-shadow: 2px -1px 10px 0 black;*/
  margin-top:15px;
  margin-bottom: 15px;

  color:white;
  font-weight: bold;
  background-position:center;
  background-size:cover;

  min-height: 215px;
  height:215px;
}

.eventrow_text{
  border-bottom:solid 1px rgba(100,100,100,1);
  min-height:0px;
 /*box-shadow: 2px -1px 10px 0 black;*/
  margin-top:15px;
  margin-bottom: 15px;

  font-weight: bold;
  background-position:center;
  background-size:cover;
}

.eventrow_text h3{
  margin-top:10px;
  margin-bottom:0px;
}

.eventrow_text .leftspacing{
  padding-left: 0px;
}

.eventrow_text .left-bar{
  width:13%;
}

.rules{
  overflow: scroll;
}

.eventrow h4{
  font-weight:normal;
  font-size:20px;
  margin-bottom:0px;
  margin-top:5px;
}

.eventrow a:hover{
  color:white;
}

.eventrow .organisation-link:hover{
  color:#8B3530;
}

.eventrow a{
  color:white;
}

.eventrow .row-content{
  height:100%;
}

.subtitle{
  padding-top:0px;
  margin-top:0px;
  font-size:15px;
}

.eventrow .left-row{
  height:100%;
}  

.eventrow .bar-container{
  height:75%;
}  


.dateday{
  color:white;
  background-color:rgba(56,56,56,0.5);
  float:left;
  border:solid 2px rgba(230,230,230,0.6);
  border-radius: 2px;
  padding:5px;
  margin-top:10px;
  text-align:center
;}

.dateday .date{
  font-size: 20px;
}

.eventrow .bottom-bar{
  height:25%;
  padding-left:15px;
  background-color:rgba(56,56,56,0.5);
}

.eventrow .right-bar{
  text-align: right;
  height:100%;
  font-size:15px;
  line-height:15px;
  vertical-align: bottom;
}

.mobile-arrow{
  text-align:right;
  margin-top:5px;
  background-color:rgba(56,56,56,0.5);
  border:solid 2px rgba(230,230,230,0.9);
  border-radius: 5px;
  padding:2px;
  margin-top:10px;
  float:right;
}

.dropdown-menu .glyphicon{
  float:right;
}