
.eventrow{
  border:solid 1px rgba(100,100,100,1);
  border-radius: 2px;
  min-height:0px;
 /*box-shadow: 2px -1px 10px 0 black;*/
  margin-top:15px;
  margin-bottom: 15px;

  color:white;
  font-weight: bold;
  background-position:center;
  background-size:cover;

  min-height: 215px;
  height:215px;
}

.eventrow_text{
  min-height:0px;
 /*box-shadow: 2px -1px 10px 0 black;
   border-bottom:solid 1px rgba(100,100,100,1);*/
  margin-top:15px;
  margin-bottom: 20px;
  color:white;
  font-weight: bold;
  background-position:center;
  background-size:cover;
  background-color:rgba(0,0,0,0.7);
}

.eventrow_text .map img{
  margin-top:15px;
  margin-bottom:5px;
  border-radius:15px;
}

.row-details .details{
  /*border-radius: 15px; 
  background-color:rgba(56,56,56,0.8);*/
  border-top:solid 1px white;
  color:white;
  padding:15px;
  font-weight: normal;
}

.row-details .details .extra_details{
  text-align:center;
  height:100%;
}

.row-details .details{
  margin:15px;
}

.row-details .organisation{
  background-color:;
  background-color:rgba(200,200,200,1);
  padding:15px;
  margin-top:25px;
  border-radius:15px;
}
.row-details .organisation h3{
  color:gray;
}

.eventrow_text h3{
  margin-top:10px;
  margin-bottom:0px;
}

.eventrow_text .leftspacing{
  padding-left: 0px;
}

.eventrow_text .left-bar{
  width:13%;
}

.rules{
  overflow: scroll;
}

.eventrow h4{
  font-weight:normal;
  font-size:20px;
  margin-bottom:0px;
  margin-top:5px;
}

.eventrow a:hover{
  color:white;
}

.eventrow .organisation-link:hover{
  color:#8B3530;
}

.eventrow_text a{
  color:white;
}

.eventrow .row-content{
  height:100%;
}

.subtitle{
  padding-top:0px;
  margin-top:0px;
  font-size:15px;
}

.eventrow .left-row{
  height:100%;
}  

.eventrow .bar-container{
  height:75%;
}  


.dateday{
  float:left;
  /*border:solid 2px rgba(230,230,230,0.6);
  border-radius: 2px; 
  background-color:rgba(56,56,56,0.5);
  color:white;*/
  padding:5px;
  margin-top:10px;
  margin-bottom:10px;
  text-align:center;
  width:100%;
  border-right: 1px solid #c1c1c1;
  font-size:25px;
;}

.dateday .date{
  border-bottom:1px solid #c1c1c1;
  width:100% !important;
}

.eventrow .bottom-bar{
  height:25%;
  padding-left:15px;
  background-color:rgba(56,56,56,0.5);
}

.eventrow .right-bar{
  text-align: right;
  height:100%;
  font-size:15px;
  line-height:15px;
  vertical-align: bottom;
}

.mobile-arrow{
  text-align:right;
  margin-top:5px;
  background-color:rgba(56,56,56,0.5);
  border:solid 2px rgba(230,230,230,0.9);
  border-radius: 5px;
  padding:2px;
  margin-top:10px;
  float:right;
}

.dropdown-menu .glyphicon{
  float:right;
}


