#map-canvas, #map-wrapper{
  height:100%;
  width:100%;
  top:0;
  left:0;
  overflow:hidden;
}

#map-canvas{
	position:relative;
	z-index:1;
	width:150%;
	left:-50%;
}

#map-wrapper{
	display:none;
	padding:0px;
}

#map-wrapper #overlayrow{
	height:100%;
	width:100%;
	position:absolute;
	z-index:2;
	left:0;
	top:0;
	margin:0px;
	padding:0px;
}

#map-wrapper #sidebar{
	background-color:rgba(0,0,0,0.7);
	height:100%;
}

#sidebar-content{
	padding-top:10px;
	height:100%;
	color:white;
	overflow:scroll;
	overflow-x:hidden;
}

#directionsPanel{
	background-color: white;
}

#sidebar-content a{
	color:white;
	border-radius:3px;
}

#sidebar-content h1{
	margin-top:0px;
}